In [16]:
import pandas as pd
import time
import json
import requests
from splinter import Browser
from bs4 import BeautifulSoup as bs

In [22]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [23]:
#mars news
url = 'https://mars.nasa.gov/news/'
browser.visit(url)
html = browser.html
soup = bs(html, 'html.parser')

time.sleep(5)

news_title = soup.find('div', class_='image_and_description_container').\
find('h3').text
news_title.strip

news_p = soup.find('div', class_='article_teaser_body').text
news_p.strip

print(news_title, news_p)

A Year of Surprising Science From NASA's InSight Mars Mission A batch of new papers summarizes the lander's findings above and below the surface of the Red Planet.

In [64]:
#mars image
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
html = browser.html
soup = bs(html, 'html.parser')

image = soup.find_all('a', class_='fancybox')[0]["data-fancybox-href"]
site_root = "https://www.jpl.nasa.gov"
featured_image_url = site_root + image
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA16694_ip.jpg

In [25]:
#mars weather
url = 'https://twitter.com/MarsWxReport'
response = requests.get(url)
soup = bs(response.text, 'lxml')

mars_weather = soup.find('p', class_="TweetTextSize").text
print(mars_weather)

InSight sol 442 (2020-02-23) low -94.1ºC (-137.3ºF) high -10.5ºC (13.0ºF)
winds from the SSE at 6.2 m/s (13.8 mph) gusting to 21.1 m/s (47.3 mph)
pressure at 6.30 hPapic.twitter.com/lfdFlvxVxe

In [26]:
#mars table
url = 'https://space-facts.com/mars/'
tables = pd.read_html(url)
df = tables[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [67]:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": ""},
    {"title": "Cerberus Hemisphere", "img_url": ""},
    {"title": "Schiaparelli Hemisphere", "img_url": ""},
    {"title": "Syrtis Major Hemisphere", "img_url": ""},
]

url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

time.sleep(4)

browser.click_link_by_partial_text('Cerberus Hemisphere Enhanced')

In [71]:
html = browser.html
soup = bs(html, 'html.parser')
x = soup.find('img', class_='wide-image')['src']
site_root = https://astrogeology.usgs.gov/
print(x)

/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg

In [ ]:
/html/body/div[1]/div[1]/div[2]/img